@font-face {
    font-family: "Roboto-Regular";
    src: url(fonts/Roboto-Regular.ttf);
}
html, body{
    margin:0;
    padding:0;
    width: 100%;
    background-color: #222233;
    color: white;
    font-family: "Roboto-Regular";
}
header{
    margin-top: 1rem;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
}
h1{
    margin-top: 0;
}
header p {
    margin: 0;
}
.bold{
    font-weight: bold;
}
main{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
}
figure{
    width: 13vw;
    display: flex;
    flex-flow: row nowrap;
}
img{
 width: 7vw;
 height: 7vw;
 margin: 0;
}
figcaption{
    display: flex;
    flex-flow: column nowrap;
    margin-left: 0.5rem;
    text-decoration: none;
    color:white;
}
figcaption p {
    margin-bottom: 0.05rem;

}
figcaption h3 {
    margin: -0.5rem 0 0.5rem 0;
}
#comment{
    margin: 3rem 2rem;
    width: 100%;
    text-align: center;
}
.wrong{
    text-decoration: line-through;
    color: rgb(133, 133, 133);
}
a{
    transition: all ease-in-out 150ms;
}
a:hover{
    background-color: rgba(255, 166, 0, 0.534);
}

#form_body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#leash{
    width: 15rem;
    height: auto;
}
#form{
    width: 70vh;
    height: max-content;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
textarea, #comment{
    margin: 0;
}
#form form{
    margin-bottom: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
}
#form form input{
    padding: 0.5rem ;
}
#form form button {
    padding:1rem;
}
.visited{
    color: yellow;
}